/** CSS STYLE **/
/* Белый: #fff
Полупрозрачный белый: #d7ccc0
Светлый: #f5f4f0
Основной: #fe8a02
Основной тёмный: #42413c
Тёмный: #2a2626
Полупрозрачный тёмный: #908d8b
Коричневый: #b09a81
Синий: #1085c5

font-family: 'Neucha', cursive;
font-family: 'Open Sans', sans-serif;
*/

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
    margin: 0;
    overflow-x: hidden;
}

.bg-main::before {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    z-index: -100;
}

.bg-dark::before {
    background: #42413c;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
}

header {
    position: relative;

}
header div {
    position: relative;
    width: 1110px;
    margin: 0 auto;
    padding: 100px 0;
}

header img {
    position: absolute;
    height: 525px;
    top: 55px;
    right: -270px;
    z-index: -1;
}

header article {
    margin-top: 192px;
}

header button {
    margin-top: 40px;
    padding: 12px 24px;
    border: 0;
    background-color: #fe8a02;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}

/* main {
    position: relative;
} */

section div {
    position: relative;
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    padding: 100px 0;
}

section div div{
    padding: 0;
}

section div p {
    text-align: left;
}

section div ul {
    text-align: left;
}

.pre-video {
    margin-bottom: -200px;
}

.navigation {
    position: relative;
    padding-top: 100px;
}

.columns-2 {
    column-count: 2;
    column-gap: 30px;
    text-align: left;
}

.columns-2 h3 {
    column-span: all;
    margin-top: 100px;
    margin-bottom: 20px;
    background-color: #b09a81;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 5px;
    padding-left: 10px;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Neucha', cursive;
    line-height: 1.2em;
    font-weight: 400;
    margin: 0px;
    color: #fe8a02;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span {
    color: #2A2626;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

a {
    color: #2A2626;
    cursor: pointer;
    text-decoration: none;
    height: fit-content;
}







.ikea-effect h3 {
    column-span: all;
    margin-top: 100px;
    margin-bottom: 20px;
    background-color: #b09a81;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    color: #fff;
    padding: 5px;
    padding-left: 10px;
    text-transform: uppercase;
}
.ikea-effect p {
    line-height: 1.6;
}

.ikea-effect h2 {
    color: #2A2626;
    margin-bottom: 30px;
}

.ikea-effect .large-text {
    font-family: 'Neucha', cursive;
    font-size: 34px;
    line-height: 1.2;
    color: #2A2626;
}

.before-title {
    font-size: 24px;
    font-family: 'Neucha', cursive;
    color: #908d8b;
    margin-top: 0;
}

.container-for-IKEA {
    display: flex;
    flex-direction: row;
}

.container-for-premature-optimization {
    display: flex;
    flex-direction: row-reverse;
}

.premature-optimization {
    position: relative;
    background-color: #b09a81;
    z-index: -200;
}

.container-for-premature-optimization .text-img p {
    margin: 0;
    color: #fff;
}

.container-for-premature-optimization .text-img {
    margin: 0;
    color: #fff;
}

.container-for-premature-optimization .text-img h2 {
    color: #fff;
}

.container-for-premature-optimization .text-img .large-text {
    margin-top: 30px;
    font-family: 'Neucha', cursive;
    font-size: 34px;
    line-height: 1.2;
    color: #fff;
}

.premature-optimization .columns-2 p {
    color: #fff;
}

.premature-optimization .columns-2 h3 {
    background-color: #fff;
    color: #b09a81;

}



.card {
    display: block;
    width: 302px;
    height: 302px;
    padding: 24px;
    background-color: #f5f4f0;
    margin-bottom: 20px;
}

.table h2 {
    font-size: 52px;
    line-height: 1.2;
}

div .table {
    width: 350px;
    padding: 0;
    margin: 0;
}

h2 .light {
    color: #f5f4f0;
}

.card p {
    margin: 0;
}

.card .num {
    margin-bottom: 40px;
    font-size: 64px;
    font-family: 'Neucha', cursive;
    line-height: 1;
    text-align: left;
}

.card .title {
    font-size: 34px;
    color: #fe8a02;
    font-family: 'Neucha', cursive;
    text-align: left;
    line-height: 1;
    margin-bottom: 16px;
}

.card .text {
    font-size: 16px;
}

.navigation {
    text-align: left;
}

#five {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.div-img {
    vertical-align: middle;
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.text-img {
    text-align: left;
    margin-left: 30px;
}

.video {
    filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.text-center {
    text-align: center;
}
.mb-3 {
    margin-bottom: 30px;
}