/** CSS STYLE **/
/* Белый: #fff
Полупрозрачный белый: #d7ccc0
Светлый: #f5f4f0
Основной: #fe8a02
Основной тёмный: #42413c
Тёмный: #2a2626
Полупрозрачный тёмный: #908d8b
Коричневый: #b09a81
Синий: #1085c5 */

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
}

section {
    max-width: 1110px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

h1, h2, h3, h4, h5 {
    font-family: 'Neucha', cursive;
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}
h2 {
    font-size: 60px;
}
h3 {
    font-size: 34px;
}